
 /* photo_Ewomba_Event_summur2023 */

 .image-presentation {
  position: absolute;
  width: 613px;
  height: 658px;
  left: 710px;
  top: 52px;
  
  background: url(photo_Ewomba_Event_summur2023.jpg);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

