@import '_variables.scss';
@import '_typography.scss';
@import '_layout.scss';
@import '_components.scss';




.section-presentation {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    // background: url(photo_Ewomba_Event_summur2023.jpg);  

    .frame-photo-presentation {
        .photo-presentation {
            width: 100% ;
            height:100% ;
            border-radius: 10px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
            transform: matrix(-1, 0, 0, 1, 0, 0);
            border: 1px solid #e43f5a;
            &:hover {
                transform: matrix(-1, 0, 0, 1, 0, 0) scale(1.05);
            }
            margin-bottom: 30px ;
          
        }
    }

    .frame-presentation {  
        text-align: center;
        color: $white;

        .frame-identity {
            padding: 20px; 
            border-radius: 8px;
            border : 1px solid #e43f5a;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 120%;
            align-items: center;
            text-align: center;
            letter-spacing: -0.02em;
            color: $text-primary;
            flex: none;

            order: 0;
            flex-grow: 1;

            &:hover {  
                transform: translateY(-10px);
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
            }
            .frame-profil{
                display: flex;
                flex-direction: column;
                align-items: center;
                font-style: normal;
                font-weight: 40;
                font-size: 20px;
                line-height: 120%;
                align-items: center;
                text-align: center;
                gap: 1px;
                padding: 5px;
                letter-spacing: -0.02em;


            }
        }
        
    }
   
}

.section-apropos, 
.section-mescompetences, 
.section-mesexperiences,
.section-mesprojets,
.section-contact {
    padding: 20px;
    h1{
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 120%;
        align-items: center;
        text-align: center;
        letter-spacing: -0.02em;
        color: #e43f5a;
        margin-bottom: 20px;
    }

}

.card-container-apropos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #598ccb;

    .card {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        width: 100%;
        background: lightcyan;
        border: 1px solid rgb(173, 250, 250);
        border-radius: 0px 20px 0px 20px;
        box-sizing: border-box;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
        
        h2 {
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
            line-height: 120%;
            letter-spacing: -0.02em;
            color: #e43f5a;
        }

        p {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 120%;
            align-items: center;
            text-align: justify;
            letter-spacing: -0.02em;
            color: #000000;
            padding: 20px;
        }
        ul {
            list-style-type: none;
            padding: 0;

            li {
                margin: 5px ;
                border-radius: 4px;
                width: 100%;
               
                i {
                    margin-right: 15px;
                }
                
            }
        }
}
}


.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;

    .card {
        background-color: #1f4068;
        padding: 20px;
        border-radius: 10px;
        background: lightcyan;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        &:hover {
            transform: translateY(-10px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
        }

        h2 {
            color: #e43f5a;
        }

        p {
            margin-top: 10px;
            line-height: 1.6;
            text-align: justify;
        }

        ul {
            list-style-type: none;
            padding: 0;

            li {
                padding: 10px;
                margin: 10px 0;
                background-color: #e43f5a;
                border-radius: 4px;
                text-align: left;
                transition: background-color 0.3s ease, transform 0.3s ease;
                i {
                    margin-right: 15px;
                }
                &:hover {
                    background-color: #e43f5a;
                    color: #fff;
                    transform: translateX(10px);
                    cursor: pointer;
                }
            
            }
        }
    }
}


.texte { 
    position: relative; 
    z-index: 2; 
}

.titre {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #e43f5a;
}

.texte-content {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-align: justify;
    letter-spacing: -0.02em;
    color: #000000;
}

.image-valeurs {
    position: relative;
    width: 100%;
    height: 100%; 
    background-image: url('/assets/img/illustration-groupe-animaux.jpeg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    color: white; 
    font-size: 20px;
    font-weight: 600;
    padding: 20px; 
}

.image-valeurs::before, 
.image-principes::before, 
.image-loisirs::before { 
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: inherit; 
    filter: blur(1px); /* Applique le flou */ 
    z-index: 1; 
}

.image-principes {
    position: relative;
    width: 100%;
    height: 100%; 
    background-image: url('/assets/img/image-perroquet-1.jpeg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    color: white; 
    font-size: 20px;
    font-weight: 600;
    padding: 20px; 
}

.image-loisirs {
    position: relative;
    width: 100%;
    height: 100%; 
    background-image: url('/assets/img/photo-cuisine.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    color: white; 
    font-size: 20px;
    font-weight: 600;
    padding: 20px; 
}

.card-icons {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background: lightcyan;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    }

    img {
        width: 50px;
        height: 50px;
    }

    p {
        margin-top: 10px;
        line-height: 1.6;
        text-align: justify;
    }
}

.card-container-projets {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;

    .card-projet {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 10px;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        .card-title{
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 120%;
            align-items: center;
            text-align: center;
            letter-spacing: -0.02em;
            color: #000000;
        .card-text{
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            text-align: justify;
            line-height: 120%;
            align-items: center;
            letter-spacing: -0.02em;
            color: #000000;
        }

        &:hover {
            transform: translateY(-10px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
        }
    }
}
}



